.mmn-popup-menu {
  background-color: #fff;
  padding: 10px;
  border: 1px solid #e9e9e9;
  z-index: 999;
  position: absolute;

  ul {
    list-style: none;
    margin: 0;

    li {
      margin-bottom: 5px;

      &:last-child {
        margin-bottom: 0;
      }

      button {
        min-width: 35px;
      }
    }
  }
}

.d-editor-button-bar {
  .quote, .code, .bullet, .list, .heading, .rule {
    display: none;
  } 
}

.d-button-label img {
  height: 16px;
}